__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
*.coverage
*.egg-info/
*.eggs/
*.log

venv/
env/
.venv/
.virtualenv/

Pipfile
Pipfile.lock
poetry.lock
requirements.txt

*.db
*.sqlite3
migrations/

.vscode/

.DS_Store
Thumbs.db

instance/
config.py

*.log
logs/

*.pem
*.key
*.crt
*.json

